input{
    margin: 5px;
}

button:hover{
    color: red;
    background-color: lightblue;
}
td:hover{
    color: red;
    background-color: lightblue;
}
input:hover{
    color: black;
    background-color: yellowgreen;
}